[Unit]
Description=Cassandra NoSQL database
Documentation=https://cassandra.apache.org/
After=network.target

[Service]
Type=forking
User=cassandra
Group=cassandra
Environment=CASSANDRA_CONF=/etc/cassandra
Environment=CASSANDRA_HOME=/usr/share/cassandra
Environment=CASSANDRA_OWNR=cassandra
ExecStart=/usr/sbin/cassandra -p /var/run/cassandra/cassandra.pid
PIDFile=/var/run/cassandra/cassandra.pid
WorkingDirectory=/var/lib/cassandra
LimitMEMLOCK=infinity
LimitNOFILE=100000
LimitNPROC=32768
LimitAS=infinity
Restart=always

[Install]
WantedBy=multi-user.target

